@media (min-width: 768px) and (max-width: 980px){

    .body2{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    html {
        font-size: 20%;
    }
    *{
        margin: 0%;
        padding: 0%;
    }
    .top-nav-bar{
        display: grid;
        padding: 5%;
    }
    .top-nav-bar-links{
        color: #354463;
    }
    .top-nav-bar-green-tree-initiative{
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        padding-bottom: 5%;
    }
    .group-of-top-nav-bar-links{
        grid-row:2;
        grid-column: 1;
    }
    .top-nav-bar-donate-today{
        grid-row:1/3;
        grid-column: 2;
        width: 25%;
        justify-self: end;
    }
    .group-of-top-nav-bar-links{
        grid-row:2;
        grid-column: 1;
        width: 100%;
        justify-self: start;
        display: flex;
        justify-content: space-between;
    }
    .top-nav-bar-donate-today{
        width: auto;
        align-self: center;
    }
    .stop-climate-change{
        padding-top: 10%;
        display: grid;
        justify-items: center;
    }
    .stop-climate-change-inner-block{
        width: 80%;
        height: 80%;
        display: grid;
        justify-items: start;
    }
    .what-is-the-issue{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-row-gap: 10rem;
    }

    .take-action-block{
        display: grid;
        justify-items: center;
    }
    .take-action-items{
        padding:10%;
    }

    .what-we-do-block{
        display: grid;
        justify-items: center;
    }
    .what-we-do-container{
        width: 80%;
        justify-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .what-we-do-heading{
        width: 20%;
    }
    .what-we-do-info{
        padding-top: 5%;
        text-align: left;
    }
    .what-we-do-catalogue{
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-items: center;
    }
    .what-we-do-catalogue-image{
        grid-row:1;
    }
    .what-we-do-catalogue-read-more{
        justify-self: end;
        align-self: end;
        grid-row:2;
        padding-top: 0%;
        display: grid;
        align-items: center;
        justify-items: center;
        height: 20%;
        width: auto;
    }
    .what-we-do-catalogue-heading{
        align-self: center;
        grid-column:2;
        padding-left: 10%;
    }
    /*  */
    .climate-change-is-issue{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .climate-change-is-issue-container{
        width: 80%;
        display: grid;
        justify-items: start;
        align-items: start;
        grid-template-columns: 2fr 2fr;
    }
    .climate-change-is-issue-catalogues{
        grid-row:1/3;
        grid-column: 2;
        display: grid;
    }
    .climate-change-is-issue-catalogue{
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
        justify-items: center;
    }
    .climate-change-catalouge-heading{
        grid-row:1;
    }
    .climate-change-catalouge-info{
        grid-row:2;
    }
    .climate-change-catalouge-logos{
        grid-row:1/3;
        grid-column: 2;
        width: 100%;
        height: 100%;
        display: grid;
        grid-row-gap:5%;
        justify-content: center;
        align-self: center;
    }
    .icon{
        display: grid;
        justify-items: center;
        align-items: center;
    }

    /*  */
    .stories-about-organization{
        display: grid;
        justify-items: center;
    }
    .stories-about-organization-container{
        padding-top: 2%;
        padding-bottom: 2%;
        width: 80%;
        justify-items: center;
    }
    .stories-about-organization-image{
        position: relative;
        transform: translate(0%,30%);
        z-index: 0;
        width: 80%;
    }
    .stories-label{
        position: absolute;
        transform: translate(20%,-50%);
    }
    .information-block-of-stories{
        position: relative;
        justify-self: end;
        transform: translate(5%,0%);
        z-index: 1;
    }
    .read-more-about-stories{
        width: 50%;
        position: relative;
        transform: translate(20%,0%);
    }

    /*  */
    .subscription-part{
        display: grid;
        justify-items: center;
        height: fit-content;
    }
    .subscription-part-container{
        width: 80%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-column-gap:5%;
        align-items: center;
        justify-items: center;
    }
    .subscription-title{
        grid-column:1/3;
    }

    /*  */
    .green-tree-initiative-footer-part{
        display: grid;
        justify-items: center;
    }
    .green-tree-initiative-footer-part-container{
        width: 80%;
        display: grid;
        grid-template-columns: 3fr 3fr;
        justify-items: center;
        align-items: center;
        grid-column-gap:10% ;
    }
    .footer-heading{
        padding: 5%;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }
    .footer-contact-us{
        padding-left: 15%;
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
        display: grid;
        grid-row-gap: 10%;
    }
    .footer-learn-more{
        padding: 5%;
        width: 100%;
        grid-column: 2;
        grid-row: 2;
        display: grid;
        grid-row-gap: 10%;
    }
    .footer-follow-us{
        grid-column: 3;
        grid-row: 1;
        justify-self: center;
        display: grid;
        grid-row-gap: 10%;
    }
    .footer-stop-climate-change{
        width: 100%;
        grid-column: 3;
        grid-row: 2;
        justify-self: start;
    }

    /*  */
    .actions-for-saving-future{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .actions-for-saving-future-container{
        width: 80%;
        padding-top: 10%;
        padding-bottom: 10%;
        justify-items: center;
        align-items: center;
    }
    .actions-container{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .tree-planting-event{
        padding-top: 10%;
        padding-bottom: 10%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-items: center;
        align-items: center;
        grid-column-gap: 5%;
    }
    .tree-planting-event-image{
        grid-row:1/4;
    }
    .tree-planting-event-title{
        grid-row:1;
        padding-top: 50%;
    }
    .tree-planting-event-info{
        grid-row:2;
    }
    .read-more-about-events{
        grid-row:3;
    }
    .event-title{
        position: absolute;
        transform: translate(20%,0%);
        padding-top: 3%;
        padding-bottom: 3%;
    }


    .updates-from-quaterly-meeting{
        padding-top: 10%;
        padding-bottom: 10%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-items: center;
        align-items: center;
        grid-column-gap: 5%;
    }
    .updates-from-quaterly-meeting-image{
        grid-row:1/4;
        grid-column: 2;
    }
    .updates-from-quaterly-meeting-title{
        grid-row:1;
        padding-top: 50%;
    }
    .updates-from-quaterly-meeting-info{
        grid-row:2;
    }
    .read-more-about-events{
        grid-row:3;
    }
    .latest-news-title{
        position: absolute;
        transform: translate(-120%,0%);
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
@media (min-width: 980px){
    .body2{
        display: flex;
        flex-direction: column;
    }
    html {
        font-size: 30%;
    }
    *{
        margin: 0%;
        padding: 0%;
    }
    .top-nav-bar-links{
        color: #354463;
    }
    .top-nav-bar{
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .group-of-top-nav-bar-links{
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
    .top-nav-bar-donate-today{
        width: auto;
    }
    .stop-climate-change{
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .stop-climate-change-inner-block{
        height: 60%;
        width: 80%;
        padding-top: 10%;
        display: grid;
        justify-items: center;
    }
    .stop-climate-change-heading{
        grid-row:1;
        grid-column: 2;
    }
    .what-is-the-issue{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-row-gap: 10rem;
    }

    .take-action-block{
        display: grid;
        justify-items: center;
        display: flex;
    }
    .take-action-heading{
        position: absolute;
        width: auto;
        padding: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .take-action-items{
        padding: 5%;
    }


    .what-we-do-block{
        display: grid;
        justify-items: center;
    }
    .what-we-do-container{
        width: 80%;
        padding-top: 10%;
        padding-bottom: 10%;
        display: grid;
        grid-template-columns: 3fr 3fr;
        justify-items: center;
        grid-column-gap: 5%;
    }
    .what-we-do-heading{
        width: auto;
        grid-row:1;
        grid-column: 1;
    }
    .what-we-do-info{
        width: 100%;
        padding-top: 5%;
        text-align: left;
        grid-row:2;
        grid-column:1/4;
    }
    #what-we-do-catalogue-1{
        grid-row:3;
        grid-column:1;
        justify-self: center;
        width: 150%;
    }
    #what-we-do-catalogue-2{
        width: 100%;
        grid-row:3;
        grid-column:2;
        margin-left: 25%;
    }
    #what-we-do-catalogue-3{
        width: 50%;
        grid-row:3;
        grid-column:3;
    }
    .what-we-do-catalogue-read-more{
        width: 50%;
        display: grid;
        justify-items: center;
    }
    .what-we-do-catalogue-image{
        position: relative;
        transform: translate(15%,-15%);
    }
    .what-we-do-catalogue{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    /*  */
    .climate-change-is-issue{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .climate-change-is-issue-container{
        width: 80%;
        display: grid;
        justify-items: start;
        align-items: start;
        grid-template-columns: 2fr 2fr;
    }
    .climate-change-is-issue-catalogues{
        grid-row:1/3;
        grid-column: 2;
        display: grid;
    }
    .climate-change-is-issue-catalogue{
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
        justify-items: center;
    }
    .climate-change-catalouge-heading{
        grid-row:1;
    }
    .climate-change-catalouge-info{
        grid-row:2;
    }
    .climate-change-catalouge-logos{
        grid-row:1/3;
        grid-column: 2;
        width: 100%;
        height: 100%;
        display: grid;
        grid-row-gap:5%;
        justify-content: center;
        align-self: center;
    }
    .icon{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    /*  */
    .stories-about-organization{
        display: grid;
        justify-items: center;
    }
    .stories-about-organization-container{
        padding-top: 10%;
        padding-bottom: 10%;
        width: 80%;
        justify-items: center;
    }
    .stories-about-organization-image{
        position: relative;

        transform: translate(0%,30%);
        z-index: 0;
        width: 80%;
    }
    .stories-label{
        position: absolute;
        transform: translate(20%,-50%);
    }
    .information-block-of-stories{
        position: relative;
        justify-self: end;
        transform: translate(5%,0%);
        z-index: 1;
    }
    .read-more-about-stories{
        width: 50rem;
        position: relative;
        transform: translate(20%,0%);
    }
    .subscription-part{
        display: grid;
        justify-items: center;
        height: fit-content;
    }
    .subscription-part-container{
        width: 80%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-column-gap:5%;
        align-items: center;
        justify-items: center;
    }
    .subscription-title{
        grid-column:1/3;
    }
    .green-tree-initiative-footer-part{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .green-tree-initiative-footer-part-container{
        width: 80%;
        display: flex;
        align-items: center;
    }
    .footer-contact-us{
        padding: 0%;
    }
    .footer-follow-us{
        padding-right: 10%;
    }
    /*  */
    .actions-for-saving-future{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .actions-for-saving-future-container{
        width: 80%;
        padding-top: 10%;
        padding-bottom: 10%;
        justify-items: center;
        align-items: center;
    }
    .actions-container{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .tree-planting-event{
        padding-top: 10%;
        padding-bottom: 10%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-items: center;
        align-items: center;
        grid-column-gap: 5%;
    }
    .tree-planting-event-image{
        grid-row:1/4;
    }
    .tree-planting-event-title{
        grid-row:1;
        padding-top: 50%;
    }
    .tree-planting-event-info{
        grid-row:2;
    }
    .read-more-about-events{
        grid-row:3;
    }
    .event-title{
        position: absolute;
        transform: translate(20%,0%);
        padding-top: 3%;
        padding-bottom: 3%;
    }


    .updates-from-quaterly-meeting{
        padding-top: 10%;
        padding-bottom: 10%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-items: center;
        align-items: center;
        grid-column-gap: 5%;
    }
    .updates-from-quaterly-meeting-image{
        grid-row:1/4;
        grid-column: 2;
    }
    .updates-from-quaterly-meeting-title{
        grid-row:1;
        padding-top: 50%;
    }
    .updates-from-quaterly-meeting-info{
        grid-row:2;
    }
    .read-more-about-events{
        grid-row:3;
    }
    .latest-news-title{
        position: absolute;
        transform: translate(-120%,0%);
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
@media (max-width: 768px){

    .body2{
        display: flex;
        flex-direction: column;
    }
    html {
        font-size: 20%;
    }
    *{
        margin: 0%;
        padding: 0%;
    }
    .top-nav-bar{
        background-color: white;
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-items: center;
        align-items: center;
        padding-top: 12rem;
        padding-bottom: 12rem;
        grid-row-gap: 10rem;
        font-size: 2rem;
    }
    .top-nav-bar-donate-today{
        grid-column: 1/3;
    }
    .stop-climate-change{
        display: grid;
        grid-row-gap:25rem;
    }
    
    .stop-climate-change{
        display:  grid;
        justify-items: center;
    }
    .stop-climate-change-inner-block{
        position: absolute;
        width: 80%;
        height: auto;
        display: grid;
        justify-items: start;
        grid-row-gap:20rem;
        padding-top: 10%;
        padding-bottom: 100%;
    }
    .what-is-the-issue{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-row-gap: 10rem;
    }
    

    .take-action-block{
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-items: center;
        align-items: center;
        grid-row-gap: 10rem;
        padding-bottom: 15%;
    }
    .take-action-heading{
        grid-column: 1/3;
        position: relative;
        transform: translate(0%,-50%);
    }
    .take-action-items{
        width: 70%;
        display: grid;
        grid-row-gap:2rem;
    }

    .what-we-do-block{
        display: grid;
        justify-items: center;
    }
    .what-we-do-container{
        width: 80%;
        display: grid;
        grid-row-gap: 7rem;
        justify-items: center;
    }
    .what-we-do-catalogue{
        display: grid;
        justify-items: center;
        
    }
    .climate-change-is-issue{
        display: grid;
        justify-items: center;
    }
    .climate-change-is-issue-container{
        width: 80%;
        display: grid;
        justify-content: start;
        align-items: center;
    }
    .climate-change-is-issue-catalogues{
        display: grid;
    }
    .climate-change-is-issue-catalogue{
        display: grid;
        grid-template-columns: 2fr 2fr;
        
    }
    .climate-change-catalouge-logos{
        justify-self: end;
        grid-row: 1/3;
        grid-column: 2;
        display: grid;
        align-items: center;
        justify-content: center;
        
    }
    .icon{
        display: grid;
        justify-items: center;
    }

    .stories-about-organization{
        width: 100%;
        height: auto;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .stories-about-organization-container{
        width: 80%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .actions-for-saving-future{
        display: grid;
        justify-items: center;
        align-items: start;
        min-height: 0;
    }
    .actions-for-saving-future-container{
        width: 80%;
        min-height: 0;
        display: grid;
    }
    .actions-container{
        display: grid;
    }
    .tree-planting-event{
        display: grid;
        justify-items: center;
        padding-top: 10%;
        padding-bottom: 15%;
    }
    .updates-from-quaterly-meeting{
        display: grid;
        justify-items: center;
    }
    .subscription-part{
        display: grid;
        justify-items: center;
        height: fit-content;
    }
    .subscription-part-container{
        width: 80%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-column-gap:5%;
        align-items: center;
        justify-items: center;
    }
    .subscription-title{
        grid-column:1/3;
    }

    .green-tree-initiative-footer-part{
        display: grid;
        justify-items: center;
        align-items: center;
        height: auto;
    }
    .green-tree-initiative-footer-part-container{
        width: 80%;
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .footer-stop-climate-change{
        grid-column: 2;
    }
    .footer-follow-us{
        padding-top: 5%;
    }
    .footer-learn-more{
        padding-top: 5%;
    }
    .footer-contact-us{
        display: grid;
        justify-items: center;
    }
    .footer-learn-more{
        display: grid;
        justify-items: center;
    }
}
